body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: radial-gradient(circle at center, #000 60%, #111);
  color: gold;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2em;
  margin-top: 60px;
}

#timer {
  font-size: 2.5em;
  margin: 10px 0;
}

#resultado {
  font-size: 1.5em;
  margin-bottom: 20p; 
}
