body {
  background-color: #000;
  color: gold;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 100px;
}

#avatarInput {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 40px;
  border: 1px solid gold;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

#timer {
  font-size: 48px;
  margin-top: 20px;
}

h3 {
  color: gold;
  font-size: 28px;
  margin-top: 10px;
}


kronresultado {
  font-size: 1.5em;
  margin-bottom: 20px;
}



#kronavatarDisplay {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  background: rgba(255,255,255,0.05);
  border: 1px solid gold;
}


